<button class="close-panel" aria-label="Cerrar">X</button>

  <h4 class="linea">Contacto directo</h4>

  <ul>
    <li><svg viewBox="0 0 24 24">
      <path d="M4 3l4 1 2 5-3 2c1.5 3 4 5.5 7 7l2-3 5 2 1 4c-9 1-18-8-18-18z"
        fill="none" stroke="currentColor" stroke-width="2"
        stroke-linejoin="round"/>
        </svg> <a href="tel:+5076520-3139">(507) 6520-3139</a> | <a href="tel:+5076332-2743">(507) 6332-2743</a>
    </li>
    <li><svg viewBox="0 0 32 32">
  <path d="M16 3C9 3 3.5 8.5 3.5 15.3c0 2.7.9 5.2 2.5 7.3L3 29l6.7-2.9c2 1.1 4.3 1.7 6.3 1.7
           7 0 12.5-5.5 12.5-12.5S23 3 16 3z"
        fill="none" stroke="currentColor" stroke-width="2"/>
  <path d="M12 11c.5 3 3.5 6 6 6l2-2 3 1"
        fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round"/>
</svg> <a href="https://wa.me/50763322743" target="_blank">WhatsApp</a></li>
    <li><svg viewBox="0 0 24 24">
  <rect x="3" y="5" width="18" height="14" rx="2"
        fill="none" stroke="currentColor" stroke-width="2"/>
  <path d="M3 7l9 6 9-6"
        fill="none" stroke="currentColor" stroke-width="2"/>
</svg> <a href="mailto:ventas@asesoriaenbanca.com">ventas@asesoriaenbanca.com</a></li>
    <li class="linea"><svg viewBox="0 0 24 24">
  <path d="M12 21s7-7 7-11a7 7 0 0 0-14 0c0 4 7 11 7 11z"
        fill="none" stroke="currentColor" stroke-width="2"/>
  <circle cx="12" cy="10" r="2"
          fill="none" stroke="currentColor" stroke-width="2"/>
</svg> Ciudad de Panamá, Avenida Perú calle 37, Edificio Manuel Enrique Local 113</li>
</ul>
<h4>Siguenos en las redes</h4>
<ul>
    <li><svg viewBox="0 0 24 24">
            <path d="M7 2C4.243 2 2 4.243 2 7v10c0 2.757 2.243 5 5 5h10c2.757 0 5-2.243 5-5V7c0-2.757-2.243-5-5-5H7zm10 2c1.654 0 3 1.346 3 3v10c0 1.654-1.346 3-3 3H7c-1.654 0-3-1.346-3-3V7c0-1.654 1.346-3 3-3h10zm-5 3.5A4.5 4.5 0 1 0 16.5 12 4.505 4.505 0 0 0 12 7.5zm0 7A2.5 2.5 0 1 1 14.5 12 2.503 2.503 0 0 1 12 14.5zM17.75 6a.75.75 0 1 0 .75.75.75.75 0 0 0-.75-.75z" fill="currentColor"/>
          </svg> <a href="https://www.instagram.com/asesoria_enbanca/">@asesoria_enbanca</a>
      
        </li>
    <li>
            <svg viewBox="0 0 24 24">
              <path d="M22 12a10 10 0 1 0-11.563 9.875v-6.987H7.898V12h2.539V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.465h-1.261c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.888h-2.33v6.987A10.002 10.002 0 0 0 22 12z" fill="currentColor"/>
            </svg> <a href="https://www.facebook.com/asesoriaenbanca/">facebook.com/asesoriaenbanca</a>
    </li>
  </ul>