<div class="header-inner">
      <div class="brand"><a href="/index.html"><img src="/img/asesoria-logo.png" alt="Asesoría en banca logo"></a>
      </div>
      <button
        class="menu-toggle"
        aria-label="Menú"
        aria-expanded="false"
        id="menuToggle">
       Menú ☰
      </button>
</div>

<!-- Menú overlay -->
<div class="menu-overlay" id="menuOverlay" aria-hidden="true">
  <button class="close-panel" aria-label="Cerrar menú" id="menuClose">X</button>
  <h4 class="linea">Cerrar menú</h4>
  <nav class="menu-nav">
    <a href="/servicios.html">Servicios</a>
    <a href="/cotiza.html">Cotiza con nosotros</a>
    <a href="/contacto.html" class="linea">Contactanos</a>
    <a href="/privacidad.html" class="small">Política de Privacidad</a>
  </nav>
</div>